<div ng-app="contactNewApp">
  <h2>お問い合わせフォーム</h2>
  <label>問い合わせタイトル</label>
  <input type="text" class="form-control" ng-model="title"/>
  <label>問い合わせ内容</label>
  <textarea class="form-control" rows="5" ng-model="content"></textarea>
</div>
