<div ng-app="contactNewApp">
  <h2>お問い合わせフォーム</h2>
  <label>問い合わせタイトル</label>
  <input type="text" class="form-control" ng-model="title"/>
  <label>問い合わせ内容</label>
  <textarea class="form-control" rows="5" ng-model="content"></textarea>
  <label>氏名</label>
  <input type="text" class="form-control" ng-model="name"/>
  <label>性別</label>
  <div class="radio">
      <label><input type="radio" name="opt-sex">男性</label>
      <label><input type="radio" name="opt-sex">女性</label>
      
  </div>
</div>
